{% include header.html %}

    {% include home-hero.html %}

    <main id="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-md-12">

            <div class="row row-cols-3" style="justify-content:center">
              {% for post in paginator.posts %}
              {% include post-content.html %}
              {% endfor %}
            </div>
          </div>

            {% if site.section_title != '' %}
            <h2 class="section-title text-center">{{ site.section_title }}</h2>
            {% endif %}
            {% if site.section_subtitle != '' %}
            <p class="section-subtitle text-center">{{ site.section_subtitle }}</p>
            {% endif %}

            <div class="break"></div>

            {% include pagination.html %}

          </div>
        </div>
        {% include footer.html %}
      </div>
      
    </main>
