{% include header.html %}

  <article>
    <div class="container-fluid" style="margin-left: 50px; margin-right: 50px; width: auto;" >
      {% if page.embedded_video_link != '' %}
      <div class="embed-responsive">
        <iframe class="embed-responsive-item youtube" src="{{ page.embedded_video_link }}" allowfullscreen></iframe>
      </div>
      {% endif %}
      <div class="container-fluid" style="padding-top: 20px">
      <h1 style="padding-bottom: 10px">{{ page.title }}</h1>

      {{ content }}

      <a href="{{ page.github_link }}" class="project-link"><button class="btn btn-default btn-lg" style="margin: 0 0 0 0"><i class="fa fa-github fa-lg"></i>Github</button></a> 
    </div>
    </div>
  </article>

{% include footer.html %}
